.survey-question-container {
  box-shadow: 0px 0px 80px rgba(0, 43, 85, 0.1);
  padding: 24px 32px;

  &__list {
    list-style-type: none;
  }

  &__buttons {
    padding: 12px;
    min-width: auto !important;
  }

  &__closed-box {
    box-shadow: 0px 0px 80px rgba(0, 43, 85, 0.1);
    padding: 24px;
  }

  &__error-question {
    border: 1px solid red;
  }
}
